/* BrowseDeckPage.css */

.browse-deck-page {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
    background-color: #27632a; 
}

.backButton {
    height: 50px; 
    margin-left: 20px; 
  }
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    background-image: url('./Search.png'); 
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 500px;
    height: 50px;
  }
  

.add-deck-button-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.deck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* space between decks */
}

.deck {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
    padding: 20px;
    width: 250px; /* fixed width, adjust as needed */
}

.deck h3 {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.2em;
}

.deck ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.deck li {
    padding: 8px 0;
    border-bottom: 1px solid #eee; /* subtle line under each card */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deck li.completed {
    color: green; /* style for completed cards */
}

.deck li.not-completed {
    color: red; /* style for not completed cards */
}

button {
    background-color:  #37753a; /* blue background */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #213f21; /* darker blue on hover */
}
